
body{
	font-family: "Arial"
}

.middle{
	margin-right: 276px;
	margin-left: 256px;
}

.middle h1{
	margin-bottom: 10px;
	color: #015da4;
}

.middle p{
	font-size: 12pt;
	line-height: 25px;
}

.middle p, div.middle div.picture-container{
	margin-left: 20px;
}

.middle .picture-container{
	float: left;
	padding: 5px 15px 5px 15px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border: 1px solid #c5c5c5;
	margin: 5px 25px 5px 0;
}