body{
	font-family: "Arial"
}

.middle table.preview{
	border-spacing: 0px;
	font-size: 9pt;	
}

table.preview tr:first-child{
	color: #5ab0f2;
	background-color: #dceefc;
	height: 35px;
}

.sitemap{
	margin-bottom: 5px;
	color: #aaaaaa
}
.sitemap a{
	color: #77bdf3; 
	text-decoration: none;
}

table.preview th:first-child{
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
	-moz-border-radius: 6px 0 0 0;
	text-align: left;
	padding-left: 20px;
}

table.preview th:last-child{
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 6px 0 0;
	-moz-border-radius: 6px 0 0 0;
}

table.preview tr:nth-child(2n+3){
	background-color: #dceefc;	
	height: 30px;
}


table.preview tr:nth-child(2n){
	height: 30px;
}

table.preview td:nth-child(1){
	padding-left: 20px;
	width: 430px;
}

table.preview td:nth-child(n+2), table.preview th:nth-child(n+2){
	padding-left: 20px;
	width: 100px;
	text-align: center;
}
table.preview td:last-child a{
	color: #5ab0f2;
}
  


.quantity{
	border: 1px solid #e3f1fd;
	box-shadow: 2px 2px 2px #CCCCCC inset;
	display: inline;
	padding: 3px 6px 3px 6px;
	width: 50px;
	text-align: center;
}
