<<<<<<< HEAD:style/review.css
.sitemap{
	margin-bottom: 5px;
	color: #aaaaaa
}
.sitemap a{
	color: #77bdf3; 
	text-decoration: none;
}
.content-box-inner{
	float: left;
	margin-left:2px;
	width: 700px;
}
.page-title{
	margin-top: 4px;
	color: #015da4;
}
.review-title{
	margin-top: 20px;
	margin-bottom: 20px;
	height: 35px;
	width: 100%;
	background-color: #dceefc;
	color: #5ab0f2;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.review-title img{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.author-name{
	float: left;
	margin-left: 10px;
	margin-top: 11px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
}
.review-time{
	margin-top: 11px;
	margin-right: 10px;
	float: right;
	height: 25px;;
	display: inline-block;
	vertical-align: middle;
}
.clear{
	clear: both;
}
.review-body p{
	margin-top: 20px;
	line-height: 150%;
	clear: both;	
	padding: 0px 15px;
}
.form-container{
	margin-top: 30px;
	height: 485px;
	background-color: #3c9be4;
	color: #ffffff;
	font-size: 140%;
	border-radius: 5px;
	padding-top: 1px;
	padding-left: 25px;
	padding-right: 25px;
}
.form-title{
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 5px;
}
.input-name{
	height: 20px;
	width: 370px;
	border-radius: 5px;
}
.input-mail{
	height: 20px;
	width: 370px;
	border-radius: 5px;
}
.input-text{
	width: 645px;
	height: 110px;
	border-radius: 5px;	
	border-color: #ffffff;
	border-top: 3px solid #a5a5a5;
	border-left:3px solid #a5a5a5;
	resize: none;
}
.capcha{
	font-weight: bold;
	padding-left: 20px;
	margin-top: 30px;
	float: right;
	width: 390px;
}
.capcha-title{
	margin-left: 20px;
}
.capcha img{
	margin-top: -10px;
	margin-left: 45px;
}
.capcha  .note{
	margin-top: -10px;
	margin-left: 20px;
	display: inline-block;
	font-size: 80%;
}
.capcha-input{
	float: right;
	width: 180px;
	height: 20px;
	border-radius: 5px;
}
.capcha .s-button{
	margin-top: 8px;
	float: right;
	border: none;
	border-left: 1px solid #a0d1f8;
	border-top: 1px solid #a0d1f8;
	background: #008bca;
    background: -moz-linear-gradient(top, #008bca, #0a4d7e);
    background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,#008bca), color-stop(100%,#0a4d7e));
	background: -webkit-linear-gradient(top, #008bca, #0a4d7e);
	background: -o-linear-gradient(top, #008bca, #0a4d7e);
    background: -ms-linear-gradient(top, #008bca, #0a4d7e);
    background: linear-gradient(top, #008bca, #0a4d7e);
	border-radius: 7px;
	font-size: 100%;
	color: #ffffff;
	height: 25px;
	width: 160px;	
}	
